.four {
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: rgba(31, 32, 35, 0.4);
    @media (max-width: 999px) {
      display: none;
    }
  }
  .container {
    margin: auto;
    max-width: 100%;
    @media (max-width: 1899px) {
      padding: 0;
    }
    @media (max-width: 999px) {
      padding: 80px 40px;
    }
    @media (max-width: 759px) {
      padding: 60px 16px;
    }
  }
  &__slider {
    @media (max-width: 759px) {
      width: 100%;
      padding-bottom: 25px!important;
    }
  }
  &__item {
    @media (max-width: 759px) {
      height: auto!important;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 0;
    padding: 50px 0;
    margin: auto;
    @media (max-width: 1549px) {
      grid-gap: 40px 0;
      padding: 20px 0;
    }
    @media (max-width: 999px) {
      padding: 0;
      grid-gap: 16px;
    }
    @media (max-width: 759px) {
      grid-gap: 0;
      display: flex;
      padding: 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 60px 95px;
    position: relative;
    @media (max-width: 1249px) {
      padding: 30px 45px;
    }
    @media (max-width: 999px) {
      padding: 30px 20px;
      border: 1px solid rgba(31, 32, 35, 0.15)
    }
    &:first-child {
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: -50px;
        left: 0;
        background: rgba(31, 32, 35, 0.4);
        @media (max-width: 999px) {
          display: none;
        }
      }
    }
    &:nth-child(2) {
      transition-delay: .2s;
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: -50px;
        left: 0;
        background: rgba(31, 32, 35, 0.4);
        @media (max-width: 999px) {
          display: none;
        }
      }
    }
    &:nth-child(4) {
      transition-delay: .2s;
    }
    &:nth-child(2n - 1) {
      padding-left: 230px;
      @media (max-width: 1899px) {
        padding-left: 100px;
      }
      @media (max-width: 1549px) {
        padding-left: 160px;
      }
      @media (max-width: 1399px) {
        padding-left: 100px;
      }
      @media (max-width: 1249px) {
        padding-left: 40px;
      }
    }
    &:nth-child(2n) {
      padding-right: 230px;
      @media (max-width: 1899px) {
        padding-right: 100px;
      }
      @media (max-width: 1549px) {
        padding-right: 160px;
      }
      @media (max-width: 1399px) {
        padding-right: 100px;
      }
      @media (max-width: 1249px) {
        padding-right: 40px;
      }
    }
    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
    &-title {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
      /* or 45px */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;

      /* Primary/Dark Red-Purple */

      color: #612848;
      margin: 30px 0;
      @media (max-width: 1549px) {
        font-size: 24px;
      }
      @media (max-width: 999px) {
        font-size: 22px;
        text-align: left;
      }
      @media (max-width: 759px) {
        font-size: 19px;
      }
    }
    &-p {
      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */

        display: flex;
        align-items: center;

        /* Primary/Black Brown_90% */

        color: rgba(31, 33, 35, 0.9);
        @media (max-width: 1549px) {
          font-size: 16px;
        }
        @media (max-width: 999px) {
          font-size: 14px;
        }
      }
    }
  }
}