.pop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition-duration: .4s;
  visibility: hidden;
  z-index: 1000;
  @media (max-width: 999px) {
    padding: 40px;
  }
  @media (max-width: 759px) {
    padding: 16px;
  }
  &-bg {
    background: rgba(31, 33, 35, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__cont {
    margin: auto;
    max-width: 1088px;
    position: relative;
    z-index: 2;
    width: 100%;
    background: #F5F5F3;
    padding: 80px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1549px) {
      max-width: 869px;
    }
    @media (max-width: 999px) {
      max-width: 100%;
    }
    @media (max-width: 759px) {
      padding: 80px 20px;
    }
  }
  &-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    /* identical to box height, or 65px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    /* Primary/Dark Red-Purple */

    color: #612848;
    margin-bottom: 30px;
    @media (max-width: 1549px) {
      font-size: 36px;
    }
    @media (max-width: 999px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
    @media (max-width: 759px) {
      font-size: 22px;
    }
  }
  &-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Primary/Black Brown */

    color: #1F2023;
    @media (max-width: 1549px) {
      font-size: 16px;
    }
    @media (max-width: 999px) {
      font-size: 14px;
    }
  }
  &-sub {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* Primary/Dark Red-Purple */

    color: #612848;
    margin: 20px 0 50px 0;
    @media (max-width: 1549px) {
      font-size: 14px;
    }
    @media (max-width: 999px) {
      margin-bottom: 30px;
    }
  }
  &__close {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    display: flex;
    transition-duration: .4s;
    @media (max-width: 759px) {
      right: 20px;
      top: 20px;
    }
    &:hover {
      opacity: .3;
    }
  }
  .btn-red {
    @media (max-width: 999px) {
      padding: 25px 40px;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}