.price {
  padding: 120px 0 140px 0;
  @media (max-width: 1549px) {
    padding: 80px 0 120px 0;
  }
  @media (max-width: 999px) {
    padding: 80px 0;
  }
  @media (max-width: 759px) {
    padding: 60px 0;
  }
  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
    @media (max-width: 1549px) {
      margin-bottom: 70px;
    }
    @media (max-width: 999px) {
      margin-bottom: 30px;
    }
  }
  &-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    /* identical to box height, or 65px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    /* Primary/Dark Red-Purple */

    color: #612848;
    margin-bottom: 20px;
    @media (max-width: 1549px) {
      font-size: 36px;
    }
    @media (max-width: 999px) {
      font-size: 26px;
      margin-bottom: 15px;
    }
    @media (max-width: 759px) {
      font-size: 22px;
    }
  }
  &-sub {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Primary/Black Brown */

    color: #1F2023;
    @media (max-width: 1549px) {
      font-size: 16px;
    }
    @media (max-width: 999px) {
      font-size: 14px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    transition-delay: .4s;
    @media (max-width: 999px) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    border: 1px solid rgba(31, 33, 35, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px 50px 60px;
    @media (max-width: 1549px) {
      padding: 30px;
    }
    @media (max-width: 1249px) {
      padding: 15px;
    }
    @media (max-width: 999px) {
      padding: 20px 15px;
    }
    .btn-red, .btn-white {
      @media (max-width: 1249px) {
        padding: 20px;
      }
    }
    &-title {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
      /* or 45px */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;

      /* Primary/Dark Red-Purple */

      color: #612848;
      margin: 15px 0;
      @media (max-width: 1549px) {
        font-size: 24px;
      }
      @media (max-width: 1249px) {
        font-size: 20px;
      }
      @media (max-width: 999px) {
        font-size: 22px;
      }
      @media (max-width: 759px) {
        font-size: 19px;
      }
    }
    &-p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      /* or 30px */

      display: flex;
      align-items: center;
      text-align: center;

      /* Primary/Black Brown_90% */

      color: rgba(31, 33, 35, 0.9);
      @media (max-width: 1549px) {
        font-size: 16px;
      }
      @media (max-width: 1249px) {
        font-size: 14px;
      }
    }
    &-price {
      display: flex;
      align-items: flex-end;
      margin: 15px 0 60px 0;
      @media (max-width: 1549px) {
        margin-bottom: 40px;
      }
      @media (max-width: 759px) {
        margin-bottom: 30px;
      }
      span {
        &:first-child {
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 700;
          font-size: 35px;
          line-height: 130%;
          /* or 45px */

          display: flex;
          align-items: center;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Primary/Dark Red-Purple */

          color: #612848;
          @media (max-width: 1549px) {
            font-size: 24px;
          }
          @media (max-width: 1249px) {
            font-size: 20px;
          }
          @media (max-width: 999px) {
            font-size: 22px;
          }
          @media (max-width: 759px) {
            font-size: 19px;
          }
        }
        &:last-child {
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 130%;
          /* or 32px */

          display: flex;
          align-items: center;
          letter-spacing: 0.01em;

          /* Primary/Dark Red-Purple */

          color: #612848;
          margin-left: 5px;
          @media (max-width: 1549px) {
            font-size: 16px;
          }
          @media (max-width: 1249px) {
            font-size: 14px;
          }
        }
      }
    }
    &:nth-child(3n - 1) {
      transform: translateY(-20px);
      background: #612848;
      /* Secondary/Black Brown_30% */

      border: 1px solid rgba(31, 33, 35, 0.3);
      @media (max-width: 999px) {
        transform: translateY(0);
      }
      .price__item-title {
        color: #F5F5F3;
      }
      .price__item-p {
        color: rgba(245, 245, 243, 0.9);
      }
      .price__item-price {
        span {
          color: #F5F5F3;
        }
      }
    }
  }
}