.we {
  background: #612848;
  @media (max-width: 999px) {
    padding: 80px 0;
  }
  @media (max-width: 759px) {
    padding: 60px 0 0 0;
  }
  .container {
    max-width: 100%;
    padding-right: 135px;
    flex-direction: row;
    display: grid;
    grid-template-columns: 835fr 810fr;
    grid-gap: 140px;
    @media (max-width: 1899px) {
      padding-right: 50px;
      padding-left: 0;
    }
    @media (max-width: 1549px) {
      padding-right: 60px;
      grid-template-columns: 705fr 645fr;
      grid-gap: 30px;
    }
    @media (max-width: 999px) {
      display: flex;
      flex-direction: column;
      padding: 0 40px;
    }
    @media (max-width: 759px) {
      flex-direction: column-reverse;
      grid-gap: 0;
      padding: 0;
    }
  }
  &__img {
    width: 100%;
    position: relative;
    display: flex;
    @media (max-width: 999px) {
      height: 654px;
    }
    @media (max-width: 759px) {
      height: 529px;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      @media (max-width: 999px) {
        height: 654px;
      }
      @media (max-width: 759px) {
        height: 529px;
      }
    }
  }
  &__text {
    padding: 192px 0;
    margin-left: auto;
    width: 100%;
    @media (max-width: 1549px) {
      padding: 120px 0;
    }
    @media (max-width: 999px) {
      padding: 0;
    }
    @media (max-width: 759px) {
      padding: 0 16px 30px 16px;
    }
  }
  &-sub {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    /* Primary/Smoky White */

    color: #F5F5F3;
    margin-bottom: 15px;
    @media (max-width: 1549px) {
      font-size: 14px;
    }
    @media (max-width: 999px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
  &-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    /* or 65px */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    /* Primary/Smoky White */

    color: #F5F5F3;
    @media (max-width: 1549px) {
      font-size: 36px;
    }
    @media (max-width: 999px) {
      font-size: 26px;
    }
    @media (max-width: 759px) {
      font-size: 22px;
    }
    br {
      @media (max-width: 999px) {
        display: none;
      }
      @media (max-width: 759px) {
        display: block;
      }
    }
  }
  &-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    display: flex;
    align-items: center;

    /* Primary/Smoky White_90% */

    color: rgba(245, 245, 243, 0.9);
    margin: 90px 0 20px 0;
    @media (max-width: 1549px) {
      margin: 50px 0 20px 0;
      font-size: 16px;
    }
    @media (max-width: 999px) {
      margin: 30px 0 20px 0;
      font-size: 14px;
    }
    @media (max-width: 759px) {
      margin-bottom: 10px;
    }
  }
  &-p-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    display: flex;
    align-items: center;

    /* Primary/Smoky White_90% */

    color: rgba(245, 245, 243, 0.9);
    @media (max-width: 1549px) {
      font-size: 16px;
    }
    @media (max-width: 999px) {
      font-size: 14px;
    }

  }
}